@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
}
.text-shadow {
  text-shadow: 0 0 4px ;
  font-family: 'Times New Roman', Times, serif;
font-weight: lighter;
}
.tendencia{
  
  font-size: 25px;
  text-shadow: 0 0 4px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}